@font-face{ 
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff');
}

body,h1,h2,h3,h4,h5 { font-family: 'Roboto Condensed', sans-serif; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.pad {padding-left: 1em;}
.panel, .well {margin-bottom: 0px;}
