@font-face{ 
    font-family: 'Lora';
    src: url('../fonts/Lora.woff2') format('woff2');
}

body,h1,h2,h3,h4,h5 { font-family: 'Lora', sans-serif; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.pad {padding-left: 1em;}
.panel, .well {margin-bottom: 0px;}
