<!doctype html>
<html lang="en" ng-app="mansionsApp">
<head>
    <title>Mansions of Madness scenario setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="mom_data.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<div class="container" ng-controller="mansionsCtrl">

<div class="row">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3>Mansions of Madness</h3>
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="select-scenario" class="col-sm-2 control-label">Scenario</label>
          <div class="col-sm-10">
            <select class="form-control input-lg" name="select-scenario" id="select-scenario" ng-model="story.scenario">
                <option ng-repeat="item in MoM.scenarios" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-2 control-label">Choices</label>
          <div class="col-sm-10">
            <select ng-repeat="choice in story.choices" ng-model="story.choices[$index].selected"
            class="form-control input-lg {{story.choices[$index].visible}}" name="select-choice-{{ $index }}" id="select-choice-{{ $index }}">
                <option ng-repeat="value in choice.values">{{ value }}</option>
            </select>
            &nbsp;
            <button class="btn btn-default" ng-click="randomize()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Random</button>
          </div>
        </div>
    </form>
</div>

</div> <!-- panel -->
</div>

<div class="row" ng-class="{hide : setup.cards.length == 0}">

<div class="well" style="text-align:center">
    <h1>{{MoM.scenarios[story.scenario-1].name}}</h1>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Keeper setup</h3>
    </div>
    <table class="table">
    <tbody>
    <tr>
        <th class="text-muted">Clues</th>
        <td class="lead">
            <h2 style="display: inline; line-height: 1.5">
            <span ng-repeat="card in story.choices | filter: { visible: true }"><span class="label label-primary">{{card.selected}}</span> </span>
            </h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <th class="text-muted"><nbsp>Keeper cards</nbsp></th>
        <td class="lead">
            <span ng-repeat="card in setup.keeper.cards">{{MoM.keeper_cards[card] || '###'}}{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td></td>
    </tr>   
    <tr>
        <th class="text-muted"><nbsp>Mythos cards</nbsp></th>
        <td class="lead">
            <span ng-repeat="card in setup.m_cards"><img ng-src="{{MoM.mythos_cards[card]}}" style="width: 40px; height: 40px">&nbsp;</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <th class="text-muted">Inventory</th>
        <td class="lead">
            <ul class="list-unstyled">
                <li ng-class="{ hide: setup.keeper.threat == 0 }"><span class="label label-danger">{{setup.keeper.threat}}</span> Threat</li>
                <li ng-class="{ hide: setup.keeper.threat == 0 }"><span class="label label-info">{{setup.keeper.mythos}}</span> Mythos cards</li> 
                <li ng-class="{ hide: setup.keeper.trauma == 0 }"><span class="label label-warning">{{setup.keeper.trauma}}</span> Trauma cards</li>
            </ul>
        </td>
        <td></td>
    </tr>
    </tbody>
    </table>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Cards list</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Exploration
            <span class="label label-default pull-right">{{setup.cards['e'].length}}</span>
        </div>
        <div class="panel-body lead">
            <span ng-repeat="card in setup.cards['e']"><nobr>{{MoM.exploration_cards[card].name || '###'}}</nobr>{{ $last ? '' : '&nbsp;&middot; ' }}</span>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Obstacles
            <span class="label label-default pull-right">{{setup.cards['o'].length}}</span>
        </div>
        <div class="panel-body lead">
            <span ng-repeat="card in setup.cards['o']"><nobr>{{MoM.exploration_cards[card].name || '###'}}</nobr>{{ $last ? '' : '&nbsp;&middot; ' }}</span>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Locks
            <span class="label label-default pull-right">{{setup.cards['l'].length}}</span>
        </div>
        <div class="panel-body lead">
            <span ng-repeat="card in setup.cards['l']"><nobr>{{MoM.exploration_cards[card].name || '###'}}</nobr>{{ $last ? '' : '&nbsp;&middot; ' }}</span>
        </div>
    </div>

    <div class="panel panel-default" ng-class="{ hide: setup.cards['x'] == undefined }">
        <div class="panel-heading">
            Extra cards
        </div>
        <div class="panel-body lead">
            <span ng-repeat="card in setup.cards['x']">{{MoM.exploration_cards[card].name || '###'}}{{ $last ? '' : '&nbsp;&middot; ' }}</span>
        </div>
    </div>


    <div class="panel panel-default" ng-class="{ hide: setup.note == '' }">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Note
        </div>
        <div class="panel-body">
            {{setup.note}}
        </div>
    </div>

</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Cards order</h3>
    </div>
    <table class="table">
    <tbody>
    <tr ng-repeat="room in setup.map">
        <td class="lead">
        <ul class="list-unstyled" style="margin-bottom: 0px">
            <li ng-repeat="card in room.cards">
                {{MoM.exploration_cards[card].name || '###'}}
                <span class="text-primary" ng-class="{ hide: MoM.exploration_cards[card].type != 'l' && MoM.exploration_cards[card].type != 'o'  }">
                    <span class="glyphicon {{MoM.exploration_cards[card].type == 'l' ? 'glyphicon-lock' : MoM.exploration_cards[card].type == 'o' ? 'glyphicon-link' : ''}}" aria-hidden="true"></span>
                </span>
            </li>
        </ul>
        </td>
        <td><p class="text-muted">{{room.room}}</p></td>
    </tr>
    <tr>
        <td class="lead">
        <ul class="list-unstyled">
            <li ng-repeat="card in setup.cards_rnd">{{MoM.exploration_cards[card].name || '###'}}</li>
        </ul>
        </td>
        <td><p class="text-muted"><i>Random</i></p></td>
    </tr>
    </tbody>
    </table>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Room setup</h3>
    </div>
    <table class="table">
    <tbody>
    <tr ng-repeat="room in setup.map" ng-init="topcard = MoM.exploration_cards[room.cards.slice(-1)[0]]">
        <td class="lead">
        <span class="label label-default">{{room.cards.length}}</span>
        <span class="text-primary">
            <span class="glyphicon {{topcard.type == 'l' ? 'glyphicon-lock' : topcard.type == 'o' ? 'glyphicon-link' : 'pad'}}" aria-hidden="true"></span>
        </span>
        &nbsp;
        {{room.room}}
        </td>
    </tr>
    <tr>
        <td class="lead"><span class="label label-default">1</span> <span class="pad"></span>&nbsp;&nbsp; <i>Remaining rooms</i></td>
    </tr>
    </table>
</div>

</div> <!-- /row -->
</div> <!-- /container -->

</body>
</html>



