<!doctype html>
<html lang="en" ng-app="mom_cards">
<head>
    <title>Mansions of Madness scenario setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="mom_data.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>

</head>
<body>
<div class="container" ng-controller="ChoiceCtrl">

<div class="row">
    <div class="col-xs-12">
        <h1>Mansions of Madness</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
    <div class="panel panel-default">
    <form class="form-horizontal panel-body" role="form">
        <div class="form-group">
          <label for="select-scenario" class="col-xs-2 control-label">Scenario</label>
          <div class="col-xs-10">
            <select class="form-control input-lg" name="select-scenario" id="select-scenario" ng-model="story.scenario">
                <option ng-repeat="item in scenarios" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <label class="col-xs-2 control-label">Choices</label>
          <div class="col-xs-10">
            <select ng-repeat="choice in story.choices" ng-model="story.choices[$index].selected"
            class="form-control input-lg {{story.choices[$index].visible}}" name="select-choice-{{ $index }}" id="select-choice-{{ $index }}">
                <option ng-repeat="value in choice.values">{{ value }}</option>
            </select>
            &nbsp;
            <button class="btn btn-default" ng-click="randomize()">Random</button>
          </div>
        </div>
    </form>
    
    </div>
    </div> <!-- panel -->
</div>

<div class="row" ng-class="{hide : setup.cards.length == 0}">
    <div class="col-xs-12" >
    <h2>Cards list</h2>
    
    <table class="table">
    <tbody>
    <tr>
        <th class="text-muted">Clues</th>
        <td class="lead">
            <span ng-repeat="card in story.choices | filter: { visible: true }">{{card.selected}}{{ $last ? '' : ', ' }}</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <th class="text-muted">Exploration</th>
        <td class="lead">
            <span ng-repeat="card in setup.cards['e']"><nobr>{{cards[card].name}}</nobr>{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td><span class="label label-primary">{{setup.cards['e'].length}}</span></td>
    </tr>
    <tr>
        <th class="text-muted"><nobr><span class="label label-default">?</span> Obstacles</nobr></th>
        <td class="lead">
            <span ng-repeat="card in setup.cards['o']"><nobr>{{cards[card].name}}</nobr>{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td><span class="label label-primary">{{setup.cards['o'].length}}</span></td>
    </tr>
    <tr>
        <th class="text-muted"><nobr><span class="label label-default">[}</span> Locks</nobr></th>
        <td class="lead">
            <span ng-repeat="card in setup.cards['l']"><nobr>{{cards[card].name}}</nobr>{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td><span class="label label-primary">{{setup.cards['l'].length}}</span></td>
    </tr>
    <tr ng-class="{ hide: setup.cards['x'] == undefined }">
        <th class="text-muted">Extra cards</th>
        <td class="lead">
            <span ng-repeat="card in setup.cards['x']">{{cards[card].name}}{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <th class="text-muted"><nbsp>Keeper cards</nbsp></th>
        <td class="lead">
            <span ng-repeat="card in setup.k_cards">{{keeper_cards[card]}}{{ $last ? '' : ' &middot; ' }}</span>
        </td>
        <td></td>
    </tr>   
    <tr>
        <th class="text-muted"><nbsp>Mythos cards</nbsp></th>
        <td class="lead">
            <span ng-repeat="card in setup.m_cards"><img ng-src="{{mythos_cards[card]}}" style="width: 25px; height: 25px">&nbsp;</span>
        </td>
        <td></td>
    </tr>
    </tbody>
    </table>
    </div>

    <div class="col-xs-12">
    <h2>Cards order</h2>
    <p>
    <table class="table">
    <tbody>
    <tr ng-repeat="room in setup.map">
        <td class="lead">
        <ul class="list-unstyled" style="margin-bottom: 0px">
            <li ng-repeat="card in room.cards">
                {{cards[card].name}}
                <span class="label label-default" ng-class="{ hide: cards[card].type != 'l' && cards[card].type != 'o'  }">{{cards[card].type == 'l' ? '[}' : cards[card].type == 'o' ? '?' : ''}}</span>
            </li>
        </ul>
        </td>
        <td><p class="text-muted">{{room.room}}</p></td>
    </tr>
    <tr>
        <td class="lead">
        <ul class="list-unstyled">
            <li ng-repeat="card in setup.cards_rnd">{{cards[card].name}}</li>
        </ul>
        </td>
        <td><p class="text-muted"><i>Random</i></p></td>
    </tr>
    </tbody>
    </table>
    </p>
    </div>

    <div class="col-xs-12">
    <h2>Room setup</h2>
    <p>
    <ul class="list-group">
    <li class="list-group-item lead" ng-repeat="room in setup.map" ng-init="topcard = cards[room.cards.slice(-1)[0]]"><span class="label label-primary">{{room.cards.length}}</span>
    <span class="label label-default">{{topcard.type == 'l' ? '[}' : topcard.type == 'o' ? '?' : '&nbsp;&nbsp;'}}</span>
    {{room.room}}
    </li>
    <li class="list-group-item lead"><span class="label label-primary">1</span> <i>Remaining rooms</i></li>
    </ul>
    </p>
    </div>
</div>
</div>

</body>
</html>



